<ul>
<% pages.each do |page| %>
	<li>
		<%= page.number.to_i+1 if html_render(page.number) != "&hellip;" && page.number == current_page%>
		<%= html_render(page.number) if html_render(page.number) == "&hellip;" %>
		<%= link_to (page.number.to_i+1), params.merge( :start => page.start ) unless page.number == current_page or html_render(page.number) == "&hellip;"%>
	</li>
<% end %>
</ul>