<h1>JRank Site Search</h1>

<%= render "form" %>

<% unless @jrank.nil? %>
	<%= render "results", :entries => @jrank.entries, :total => @jrank.meta.total, :query => @jrank.meta.query %>

	<%= render "paging", :pages => @jrank.pages, :current_page => @jrank.meta.current_page, :total_pages => @jrank.meta.total_pages %>
<% end %>