<h1>JRank Site Search</h1>

<%= render "form" %>

<% unless @jrank.nil? %>
	<h2>Results for "<%= @jrank.meta.query %>"</h2>
	<%= render "results", :entries => @jrank.entries, :total => @jrank.meta.total, :query => @jrank.meta.query %>

	<%= render "paging", :pages => @jrank.pages, :current_page => @jrank.meta.current_page, :total_pages => @jrank.meta.total_pages %>
<% end %>
<p>
	<a style="display:inline-block" href="http://www.jrank.org/">
		<img alt="Site Search" src="http://www.jrank.org/images/jrank_88_31-fs8.png" title="JRank Site Search">
	</a>
</p>