<h1>JRank Site Search Results</h1>
<p>Form goes here</p>

<ul>
<% @jrank.entries.each do |entry| %>
	<%= render "result", :entry => entry  %>
<% end %>
</ul>
<%= render "paging", :pages => @jrank.pages %>